.tips {
    margin: 10px 0;
    text-align: center;
}
.container {
    margin: 0 auto;
}
.wrap {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 40%;
    height: 500px;
    border: 1px solid #000;
}
.drag-list {
    display: inline-block;
    padding: 5px;
    border: 1px solid #000;
}